extends layout

block content
  h1= title
  p Welcome to Real Time Transit

  select#agencySelect
     each agency, i in agencies
       option(value = agency) #{agency}
       
  div(id="agencyListDiv")
