extends layout

block content
  h1= title
  p Welcome to Real Time Transit

  div(id="agencyListDiv")
  div(id="routeListDiv")
  div(id="directionListDiv")
  div(id="stopListDiv")
  div(id="departuresListDiv")
